argcomplete==1.12.3
autopep8==1.6.0
Beaker==1.10.0
beautifulsoup4==4.9.3
blivet==3.4.2
blivet-gui==2.3.0
Brlapi==0.8.2
cffi==1.14.6
charset-normalizer==2.0.4
chrome-gnome-shell==0.0.0
click==8.0.1
cryptography==3.4.7
cupshelpers==1.0
dasbus==1.6
dbus-python==1.2.18
distro==1.6.0
fedora-third-party==0.8
fros==1.1
gpg==1.15.1
humanize==0.5.1
idna==3.2
langtable==0.0.56
libcomps==0.1.18
lxml==4.6.3
Mako==1.1.4.dev0
MarkupSafe==2.0.0
nftables==0.1
olefile==0.46
packaging==21.0
paho-mqtt==1.6.1
Paste==3.5.0
pexpect==4.8.0
pid==2.2.3
Pillow==8.3.2
ply==3.11
productmd==1.33
ptyprocess==0.6.0
pwquality==1.4.4
pycairo==1.20.0
pycodestyle==2.8.0
pycparser==2.20
pycrypto==2.6.1
pycups==2.0.1
pycurl==7.44.1
pyenchant==3.2.1
PyGObject==3.42.0
pykickstart==3.34
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyparted==3.11.7
Pyro4==4.82
PySocks==1.7.1
python-augeas==1.1.0
python-dateutil==2.8.1
python-meh==0.50
pyudev==0.22.0
pyxdg==0.27
requests==2.26.0
requests-file==1.5.1
requests-ftp==0.3.1
rpm==4.17.0
selinux==3.2
sepolicy==3.2
serpent==1.40
setools==4.4.0
simpleaudio==1.0.4
simpleline==1.8.2
six==1.16.0
sos==4.2
soupsieve==2.2.1
systemd-python==234
Tempita==0.5.2
toml==0.10.2
typer==0.4.0
urllib3==1.26.6
